<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper"><!--UserMapper的全路径    -->
<!--    动态Mysql-->
<!--    更新数据-->
    <update id="update"><!--这里的id是与方法名对应的-->
        update sys_user
        <set>
            <if test="username != null">username=#{username},</if>
<!--            <if test="password != null">password=#{password},</if>-->
            <if test="nickname != null">nickname=#{nickname},</if>
            <if test="email != null">email=#{email}, </if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="address != null">address=#{address} </if>
        </set>
        where id=#{id}
    </update>
</mapper>